.EditButton {
  margin-top: 0.8rem;
  width: 3rem;
  height: 1.5rem;
  color: white;
  background-color: black;
  border: solid 1px white;
}

.EditButton:hover {
  color: black;
  background-color: white;
  border: solid 1px black;
}
