.ExperienceItem {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  margin-bottom: 2vh;
  word-wrap: break-word;
  padding-left: 4vw;
}

.ExperienceItem__first {
  width: 40%;
}

.ExperienceItem__second {
  width: 40%;
}

.ExperienceItem__date {
  margin-bottom: 1vh;
  font-size: 0.8rem;
}

.ExperienceItem__title {
  color: #796218;
}

.ExperienceItem__location {
  font-size: 0.8rem;
  color: rgb(102, 102, 102);
  margin-bottom: 0.5vh;
}

.ExperienceItem__description {
  font-size: 0.8rem;
}

.ExperienceItem__name {
  font-weight: 900;
  margin-bottom: 0.5vh;
}
