.Contact {
  padding-bottom: 1vh;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
}
.GeneralInfo {
  background-color: black;
  display: flex;
  height: 95%;
  width: 35%;
  flex-direction: column;
  margin-left: 2vw;
}

.GeneralInfo__icon {
  margin-right: 0.5vw;
}

.GeneralInfo__name-and-career {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.GeneralInfo__career {
  color: rgba(207, 206, 206, 0.788);
  margin-bottom: 0.8rem;
}

.GeneralInfo__image {
  margin-top: 4vh;
  width: 100%;
  height: 100%;
}

.GeneralInfo__about-container {
  display: flex;
  flex-direction: column;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 2vh;
}

.GeneralInfo__description {
  font-size: 0.7rem;
  line-height: 1rem;
  height: 20vh;
  overflow-x: auto;
}

.GeneralInfo__contact {
  margin-top: 2vh;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}
.GeneralInfo__img {
  max-width: 100%;
  max-height: 100%;
}

.GeneralInfo__img:hover {
  opacity: 0.6;
  cursor: pointer;
  content: "Change picture";
}
