.WorkInfo {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35%;
  width: 100%;
}

.WorkInfo__items {
  display: flex;
  flex-direction: column;
  width: 100%;
}
