.App {
  text-align: center;
}

.App-header {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: auto;
}

.App-link {
  color: #61dafb;
}
